<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://aulavirtual.unibarranquilla.edu.co/pluginfile.php/1/core_admin/logocompact/300x300/1722635118/logo_IUB.png" width="50" alt="Logo" />
    </a>
    <span class="navbar-text h1">AulaVirtual</span>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-primary" (click)="showAddModul()">Añadir Módulo</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-success" (click)="showModulList()">Listar Módulos</button>
        </li>
      </ul>
    </div>
  </nav>
  