<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 1rem; background-color: #f8f9fa;">
  <h1 class="navbar-brand" style="color: rgb(195, 0, 255); font-family: 'Arial', sans-serif; font-size: 2rem;">Aula Virtual</h1>
  <div class="collapse navbar-collapse justify-content-end">
    <button class="btn" style="background-color: blue; color: white; margin-left: 10px;" (click)="showAddModul()">Crear Módulo</button>
    <button class="btn" style="background-color: green; color: white; margin-left: 10px;" (click)="showModulList()">Listar Módulo</button>
  </div>
</nav>
